.fullWidth {
    width: 100% !important;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 14px !important;
    background-color: #fff;
}
th {
    border: 1px solid #ddd;
    padding: 8px;
}
td {
    padding: 0;
    border: 1px solid #ddd;
    text-align: left;
    vertical-align: top;
    padding: 8px;
}

tr:nth-child(even) {
    /* background-color: #dddddd; */
}

.cell {
    display: flex;
    align-items: center;
    font-size: 14px !important;
}
.sub-cell {
    display: flex;
    align-items: center;
}

@media print {
    body {
        -webkit-print-color-adjust: exact;
        page-break-inside: avoid;
        size: a4;
        margin: 20px;
    }
    .input {
        border: none !important;
    }
}
.title {
    display: flex;
    align-items: center;
    background-color: #e7e5e4;
    padding-left: 8px;
}

.category-title {
}

.test {
    display: flex;
}
/* 
.input {
    text-align: right;
} */
.full-width {
    width: 100% !important;
}

.half-width {
    display: inline-block;
    width: 40% !important;
}

.cancer-page{
    display: flex;
}

.content{
    width:100% !important;
}
.ant-layout-sider-children{
    position: relative;
}
.sidebar-logo{
    position: absolute;
    right: 4px !important;
    z-index: 100;
}
.sider{
    height: 100%;
    position: relative;
}
.sidebar{
    position: sticky;
    top: 56px;
    max-width: 240px !important;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}
.sidebar-1{
    position: sticky;
    top: 56px;
    max-width: 70px !important;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}
.menu{
    height: 100%;
}
.icon{
    height:16px;
    width:16px;
}
.expand {
    position: absolute;
 
    box-shadow: 0 2px 8px -2px rgba(0,0,0,0.05), 0 1px 4px -1px rgba(25,15,15,0.07), 0 0 1px 0 rgba(0,0,0,0.08);
}